[submodule "externals/svg"]
	path = externals/svg
	url = git://github.com/wout/svg.js
[submodule "externals/reveal"]
	path = externals/reveal
	url = git://github.com/hakimel/reveal.js
[submodule "externals/svg.easing"]
	path = externals/svg.easing
	url = git://github.com/wout/svg.easing.js
[submodule "externals/reveal-plugins"]
	path = externals/reveal-plugins
	url = git://github.com/rajgoel/reveal.js-plugins
